{% load static %}
<footer id="footer" class="footer dark-background">
    <div class="container">
      <!-- <h3 class="sitename">Kim ? Hello. I am Ahmet. This is index of my social presence</h3> -->
      <p>Hello. I am Melikşah. This is index of my social presence.</p>
      <div class="social-links d-flex justify-content-center">
        <!-- <a href="https://x.com/"><i class="bi bi-twitter-x"></i></a> -->
        <a href="https://www.skype.com/tr/"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/mmyerlikaya/"><i class="bi bi-github"></i></a>
        <a href="https://stackoverflow.com/users/28090754/mmyerlikaya?tab=profile"><i class="bi bi-stack-overflow"></i></a>
        <a href="https://www.instagram.com/meliksahyk/"><i class="bi bi-instagram"></i></a>
        
        
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">meliksah.com</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">MMY</a>
        </div>
      </div>
    </div>
  </footer>