{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="http://127.0.0.1:8000/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png" alt=""> -->
        <!-- <h1 class="sitename">meliksah.com</h1> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="http://127.0.0.1:8000/" class="active">Home</a></li>
          <li><a href="http://127.0.0.1:8000/about.html">About</a></li>
          <li><a href="http://127.0.0.1:8000/resume.html">Resume</a></li>
          <!-- <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          -->
          <li><a href="http://127.0.0.1:8000/contact.html">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>